:root {
  --font-main: "IBM Plex Serif", serif;
  --font-second: "Fruktur", system-ui;
}

body {
  font-family: var(--font-main);
  text-align: center;
  background-color: black;
  color: white;
}

h1 {
  font-family: var(--font-second);
  font-size: 3rem;
  background: linear-gradient(
    to bottom,
    hsl(60, 100%, 90%),
    35%,
    hsl(60, 100%, 50%),
    65%,
    hsl(60, 100%, 15%)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  justify-self: flex-start;
}
h2 {
  background-color: white;
  color: black;
}
header {
  font-family: var(--font-second);
  text-align: end;
  padding-right: 2rem;
}
#center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
}

.calculator {
  background-color: navy;
  box-shadow:
    2px 2px 4px white,
    -2px -2px 4px white,
    3px 3px 6px rgb(151, 140, 140);
  color: black;
  width: 15rem;
  height: 19rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  padding: 0.3rem;
}
.screen input,
.buttons {
  border-radius: 5px;
}
.brand {
  color: white;
  margin-bottom: 1rem;
}
.screen {
  padding: 0.3rem;
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
  text-align: end;
}
.screen input {
  font-size: large;
  width: 95%;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  padding: 0.2rem;
}
.buttons button {
  padding: 0.2rem;
}
